@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background: url("Goal.gif");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: center;
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
}

.texte_outro {
  margin-top: 775px;
  font-size: 22px;
}
  